*.sln
*.meta
*.csproj

/Closing In/Closing In/Assets/Music
/Closing In/Closing In/Assets/Fonts
/Closing In/Closing In/Assets/Artwork
/Closing In/Closing In/Assets/GUI
/Closing In/Closing In/Assets/Scenes
/Closing In/Closing In/Assets/Animations
/Closing In/Closing In/Library
